asgiref==3.2.10
astroid==2.3.3
attrs==19.3.0
backcall==0.1.0
beautifulsoup4==4.8.2
DateTime==4.3
decorator==4.4.2
defusedxml==0.6.0
Django==3.0.8
dnspython==1.16.0
docopt==0.6.2
entrypoints==0.3
et-xmlfile==1.0.1
eventlet==0.25.1
Flask==1.1.1
greenlet==0.4.15
gunicorn==20.0.4
h5py==2.10.0
idna==2.8
ipykernel==5.2.0
ipython==7.13.0
ipython-genutils==0.2.0
isort==4.3.21
itsdangerous==1.1.0
jdcal==1.4.1
jedi==0.16.0
Jinja2==2.11.1
joblib==0.14.1
Js2Py==0.67
json5==0.9.4
jsonschema==3.2.0
kiwisolver==1.1.0
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
matplotlib==3.1.2
mccabe==0.6.1
mistune==0.8.4
monotonic==1.5
nbconvert==5.6.1
nbformat==5.0.4
notebook==6.0.3
numpy==1.18.1
opencv-contrib-python==4.1.2.30
opencv-python==4.1.2.30
openpyxl==3.0.2
packaging==20.0
pandas==0.25.3
pandocfilters==1.4.2
parso==0.6.2
phonenumbers==8.12.6
pickleshare==0.7.5
Pillow==7.0.0
pipwin==0.4.6
prometheus-client==0.7.1
prompt-toolkit==3.0.5
protobuf==3.11.3
Pygments==2.6.1
pyjsparser==2.7.1
pylint==2.4.4
pyparsing==2.4.6
PyPrind==2.11.2
pyrsistent==0.16.0
pyserial==3.4
python-dateutil==2.8.1
python-engineio==3.12.1
python-socketio==4.5.1
pytz==2019.3
PyYAML==5.3.1
pyzmq==19.0.0
requests==2.22.0
robobrowser==0.5.3
scikit-learn==0.22.1
scipy==1.4.1
Send2Trash==1.5.0
shortuuid==0.5.0
six==1.13.0
sklearn==0.0
soupsieve==1.9.5
SpeechRecognition==3.8.1
sqlparse==0.3.1
traitlets==4.3.3
tzlocal==2.0.0
urllib3==1.25.7
wcwidth==0.1.9
webencodings==0.5.1
Werkzeug==0.16.0
wikipedia==1.4.0
wrapt==1.11.2
zope.interface==4.7.1
