Django==3.0.8
json5==0.9.4
jsonschema==3.2.0
numpy==1.18.1
opencv-contrib-python==4.1.2.30
opencv-python==4.1.2.30
openpyxl==3.0.2
packaging==20.0
pandas==0.25.3
pandocfilters==1.4.2
parso==0.6.2
sqlparse==0.3.1
gunicorn==19.9.0
