{% extends 'base.html' %}
{% load static %}
{% block content %}
<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand">Welcome </a>
    <!-- <form class="form-inline">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form> -->
   <a class="btn btn-danger" href="/loginuser/">login</a> 
</nav>
{% for message in messages %}
<p style="text-align: center;">{{message}}</p>
{% endfor %}
<div class="container-fluid" style="position: relative;height:900px;background-size: contain;background-image: url({%static "img/pizza.jpg" %});">
      <div style="padding:40px;position:absolute; top: 50px;right: 20px;width: 500px;height: 320px;background-color: orange;" class="container">
        <h1 style="text-align: center;color: white">Sign Up !</h1>
        <form method="POST" action="/signupuser/">
            {% csrf_token %}
            <input style="margin-bottom: 10px;" class="form-control" placeholder="username" type="text" name="username">
            <input style="margin-bottom: 10px;" class="form-control" placeholder="password" type="password" name="password">
            <input style="margin-bottom: 10px;" class="form-control" placeholder="phonenumber" type="number" name="phonenumber">
            <input style="display: block;margin: auto;margin-top: 20px;" class="btn btn-success" type="submit" name="">
        </form>
      </div>
</div>
{% endblock %}